<!DOCTYPE html>
<html>
<head>
  <title>New Task</title>
</head>
<body>
<h1>Add a Task</h1>
<br>
<form action="/" method="post">
  <input type="text" name="task">
  <input type="submit" value="Create task">
</form>
</body>
</html>